
.bg-inverse {
  background-color: #292b2c !important;
}

.btn-outline-info {
  color: #5bc0de;
  border-color: #5bc0de;
  background-color: transparent;
}

.form-inline{
  text-align: right;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 99vw;
}

.chart{
  height:100%;
}

.placeholder{
/*  margin-left:4%;
*//*  margin-top:3%;
*/}

.weatherInfo{
  border:solid;
  border-color:salmon;
}


.todaysWeather{

}

.weatherDisplay{
  margin-top:20px;
}

.card{
  /*display: flex;*/
  border:none !important;
  float:left;
  margin-left:200px;
}



.weather-Icon {
  height: 200px;
}

.card-text{
  text-align: center;
}



